.menu{
    background-color: #272727;
    padding: 15px 80px;
}

.menu button{ 
    border:1px solid #fff;
}

.menu a{
    color:white;
}

.wid-70{
    width: 70%;
    margin: 10px auto;
}

.borda-cima{
    width: 15%;
    margin-top: 40px;
    margin-bottom: 15px;
    border-top: 8px solid #272727;
}
.borda-baixo{
    width: 15%;
    margin-top: 15px;
    margin-bottom: 40px;
    border-top: 8px solid #272727;
    float: right;
}
.destaque-home{
    border: 8px solid #272727;
    border-radius: 0px 50px;
    padding: 50px;
    text-align: center;
}

.destaque-home h1{
    font-size: 64px;
}

.destaque-home button{
    margin: 30px 0;
    font-weight: 600;
    color:#fff;
    transform: rotate(4deg);
    padding: 15px 60px;
    background-color: #3190ff;
    border:none;
}

.destaque-home span{
    margin: 30px 0;
    padding: 16px 4px;
    background-color: #167df4;
}

.destaque-home img{
    max-width: 100px;
}

.video-texto{
    margin-top: 20px;
    margin-bottom: 20px;
}

.video-texto h2{
    font-size: 2.8em;
    font-weight: 700;
}

.video-texto h3{
    margin-top: 40px;
}

.video-texto p{
    text-align: justify;
}

.video-jogo img{
    margin-top: 100px;
    width: 100%;
}

.personagem-texto{
    margin-top: 20px;
    margin-bottom: 20px;
}

.personagem-texto h2{
    font-size: 2.8em;
    font-weight: 700;
}

.personagem-texto h3{
    margin-top: 40px;
}

.personagem-texto p{
    text-align: justify;
}


.botao-personagem{
    text-align: center;
    position: relative;
    top: 30px;
    margin-bottom: 50px;
}
.botao-personagem span{
    border: 2px solid #000;
    padding: 24px 4px;
}
.botao-personagem a{
    padding: 20px 40px;
    background-color: #c4c4c4;
    font-weight: 700;
    color: #000;
}

.botao-personagem a:hover{
    text-decoration: none;
}

.personagem-jogo img{
    margin-top: 100px;
    width: 100%;
}


footer{
    padding: 30px;
    background-color: #272727;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}


@media only screen and (max-width: 768px) {
    .menu{
        padding: 15px 20px;
    }
    .destaque-home {
        padding: 10px;
    }

    .destaque-home button {
        padding: 15px 10px;
    }

    .destaque-home h1{
        font-size: 32px;
    }
    .video-texto h2 {
        font-size: 26px;
    }
    .video-texto h3 {
        font-size: 24px;
    }

    .video-jogo img {
        margin-top: 10px;
    }

    .personagem-texto h2 {
        font-size: 26px;
    }
    .personagem-texto h3 {
        font-size: 24px;
    }
    
    .botao-personagem{
        top: 15px;
    }

    .botao-personagem span {
        border: 2px solid #000;
        padding: 18px 4px;
    }
    .botao-personagem a {
        padding: 16px 2px;
        font-size: 12px;
    }

    .personagem-jogo img {
        margin-top: 40px;
    }
}